<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="John">

		<title>Test</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="components/bootstrap.min.css">
		<link rel="icon" href="img/favicon.jpg">
	</head>
	<body ng-app="testApp">		
		<div ng-controller="testController">
			<h1>Test page</h1>
			<pre>{{items | json}}</pre>
			<button ng-click="updateItem('Strawberry')">Send Item to Pusher</button>
			<p ng-repeat="item in pusherItem">Item from pusher: {{item}}</p>
			<p>{{$index}} Item from API Call: {{apiCallItem}}</p>
		
		</div>
		
		<!--angular remote-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>

		<!--app-->
		<script src="app.js"></script>

		<!-- jQuery remote -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="components/bootstrap.min.js"></script>

		<script type="text/javascript" src="components/angular-pusher.js"></script>

	</body>
</html>
